In [18]:
import pandas as pd
import geopandas as gpd
import os

file=open('../source_data/500kibg.sld','r')
#file=open('C:/Users/00073294/Dropbox/Nishka Project/map2loop/source_data/Hammersley_Merge_plus.sld','r')
sld_file =file.readlines()
colours=[]
codes=[]
i=0
for line in sld_file:
    if('Literal>' in line):
        parts=line.split(">")
        code=parts[1].split("<")
        code=code[0]
        parts=sld_file[i+5].split(">")
        colour=parts[1].split("<")
        colour=colour[0]
        #print(code,colour)
        colours.append((colour))
        codes.append((code))
    i=i+1
    
codes_clean = [code.replace('-','_') for code in codes]

data = {'code': codes_clean, 'colour': colours,'codes2':codes}
colour_codes=pd.DataFrame.from_dict(data)
display(colour_codes)

               code   colour         codes2
0          K__sb_sf  #BEFE72       K-_sb-sf
1         K__ma_ssh  #C9FE8A      K-_ma-ssh
2           K_kl_WC  #D4FEA1        K-kl-WC
3           K_WN_sf  #DFFEB8        K-WN-sf
4          K__ny_sp  #D4FEA1       K-_ny-sp
...             ...      ...            ...
1121  A_xmgn_mb_YNA  #FEAEA9  A-xmgn-mb-YNA
1122      A_mgn_YNA  #FE6FB8      A-mgn-YNA
1123     A_mgsn_YNA  #FECFCB     A-mgsn-YNA
1124     A_mgss_YNA  #FECFCB     A-mgss-YNA
1125   A_xmgn_g_YNA  #FE8E87   A-xmgn-g-YNA

[1126 rows x 3 columns]

In [19]:
map=gpd.read_file('C:/Users/00073294/Dropbox/projects/map2model/full_state/500K_IBG_2016_GDB/geol_500k.shp')
#map=gpd.read_file('C:/Users/00073294/Dropbox/Nishka Project/map2loop/source_data/Hammersley_Merge_plus.shp')

In [20]:
codes=map[['CODE','UNITNAME']]

map_codes=codes.drop_duplicates()

ctab=pd.merge(map_codes, colour_codes, how='inner',  left_on='CODE', right_on='codes2')
#ctab.set_index('UNITNAME',inplace=True)
ctab.drop(['CODE'], axis=1,inplace=True)
ctab.drop(['codes2'], axis=1,inplace=True)
ctab['UNITNAME'] = ctab['UNITNAME'].str.replace(' ','_')
ctab['UNITNAME'] = ctab['UNITNAME'].str.replace(',','_')
ctab['UNITNAME'] = ctab['UNITNAME'].str.replace('-','_')
display(ctab)
ctab=ctab.drop_duplicates()

ctab.to_csv('../source_data/500kibg_colours.csv',index=False)
#ctab.to_csv('C:/Users/00073294/Dropbox/Nishka Project/map2loop/source_data/Hammersley_Merge_plus_colours.csv',index=False)

                                  UNITNAME           code   colour
0                            Hart_Dolerite      P___ha_od  #8EE4B4
1     Broome__Mowla_and_Melligo_Sandstones       K__bm_st  #DFFEB8
2                   King_Leopold_Sandstone      P__KMl_st  #ECCBA7
3                          Yampi_Formation     P__KMy_sta  #ECCBA7
4                         Wallal_Sandstone       J__wa_st  #ADFED5
...                                    ...            ...      ...
1121                       Capricorn_Group       P__CP_sk  #DDA365
1122                  MacDougall_Formation      P__KRd_sg  #EDF2CF
1123               Yilgarn_Craton_granites     A_jgm_mn_Y  #FECFCB
1124                Scotty_Creek_Formation  A__sc_xsta_sc  #E3DDDB
1125              Jones_Creek_Conglomerate        A__jc_s  #FEC57A

[1126 rows x 3 columns]

ParserError: Error tokenizing data. C error: Expected 2 fields in line 30211, saw 4